<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/calorieCal.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <title>User Registry</title>

  </head>

  <body>
    <header class="header">
      <h1>Food<span class="seo">Fix</span></h1>
      <nav>
        <ul>
          <li>
            <a href="#search-engine-optimization">About us</a>
          </li>
          <li>
            <a href="#online-reputation-management">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

      {{{body}}}

    </main>

    <footer class="footer">
      <h2>Made with ❤️️ by Foodfix</h2>
      <p>
        &copy; 2022 Stay Healthy
      </p>
    </footer>
    <script src="/js/calorieCal.js"></script>

  </body>

</html>