<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="jass.css" />
    <link rel="stylesheet" href="style.css" />
  </head>

<<<<<<< HEAD
  <body class="hero">
    <div>
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
        </h1>
      </header>
      <main class="container container-fluid mt-5">
        {{{body}}}
      </main>
      <footer>
        <h1></h1>
      </footer>
    </div>
=======
  <body>
    <header class="display-flex justify-space-between align-center p-2 header">
      <h1>Food<span class="seo">Fix</span></h1>
      <nav>
        <ul>
          <li>
            <a href="#search-engine-optimization">About us</a>
          </li>
          <li>
            <a href="#online-reputation-management">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="hero">
      <section>
        {{{body}}}
        <main class="container container-fluid mt-5">
        </main>
      </section>
    </section>
    <footer class="footer">
      <h2>Made with ❤️️ by Foodfix</h2>
      <p>
        &copy; 2022 Stay Healthy
      </p>
    </footer>
>>>>>>> 90ab6378b248b6d16d4779138eb5b21a61b205a3
  </body>

</html>