<html lang="en">

<head>
  </style>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link rel="stylesheet" href="/css/jass.css" />
  <link rel="stylesheet" href="/css/menus.css" />
</head>

<<<<<<< HEAD
  <body>
    
    
      <section>
        {{{body}}}
      </section>
      
  </body>
=======
<body>


  <section>
    {{{body}}}
  </section>

</body>
>>>>>>> 65ace87ddef9a2afbe7380e8b8c48bbf6af456b3

</html>