<html lang="en">

  <head>
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/menus.css" />
  </head>

  <body>
      <section>
        {{{body}}}
      </section>
    </section>
  </body>

</html>