{{!-- <section class="card">
  <!-- The contents of this card links to the breakfasts page using the breakfasts ID -->
  <a href="/breakfasts/{{id}}">
    <!-- The card contains the breakfasts name as the card header -->
    <header>{{name}}</header>
    <!-- The card contains the first braekfastart of the breakfasts -->
    <img
      src="/images/{{breakfastart.0.filename}}"
      alt="{{breakfastart.0.id}}"
    />
  </a>
</section> --}}