<div>
  <button class="login-button" onclick="window.location.href='https://food-fix-app.herokuapp.com/signup';">
    Signup
  </button>
</div>
<div>
  <button class="login-button">Login</button>
</div>