{{! here we'll have a login button of good size that will say something like "let's get you started" that 
will send us to the sign up form }}
{{#each dishes as |dish|}}
  <div class="dish col-md-5">
    <!-- We use dish.id instead of <od> and <li> elements. -->
    <p>
      {{dish.id}}.
      {{dish.dish_name}}
    </p>
  </div>
  <div class="col-md-7">
    <p></p>
  </div>
{{/each}}