<div class="main-container">
    <form class="personal-form" id="login-form">

        <div class="form-header">
            <h1>Log In</h1>
        </div>

        <div class="input-headings">

            <div class="form-container">

                <p id="description">Welcome, its nice to see you again!!!</p>

                <label for="email" id="email-label"> Email</label>
                <input id="email" type="email" name="email" placeholder="Provide a Valid Email" class="form-inputs"
                    required /></input>

                <label for="password" id="password-label">Password</label>
                <input id="password" type="password" name="password" placeholder="Please enter a Password"
                    class="form-inputs" required /></input>

                <p class="more-info">Continue path to a healthier life!!!</p>

            </div>

        </div>

        <div class="form-footer">
            <input id="submit" type="submit" value="Continue..." class="submit-button">

            <p class="more-info"> <small>if you don't have an account please</small> <a href="/signup">signup</a></p>
        </div>

    </form>

</div>

<script src="/js/login.js"></script>