
  
    
      
      
<div class = breakfasts>
  <section class="card">
    <header>Your Menu</header>
  {{#each breakfasts as |bFast|}}
      <p>
        <img src="/images/{{bFast.filename}}" alt="breakfast picture">.
        {{bFast.name}}.
        {{bFast.id}}
        
        {{/each}}
  </p>
  </section>
</div>

{{!-- <body>
    <div class = breakfasts>
    <section class='card'> 
    <header>Your Menu</header>
    </header>
      <section>
        {{{body}}}
      </section> --}}