<div class="main-container">
    <form class="personal-form" id="personal-info">

        <div class="form-header">
            <h1>User Registration</h1>
        </div>

        <div class="input-headings">

            <div class="form-container">

                <p id="description">Fill the form to get started on your journey towards healthier eating habits !!!</p>

                <label for="name" id="name-label"> Name</label>
                <input id="name" type="text" name="name" placeholder="What's your Name?" class="form-inputs"
                    required /></input>

                <label for="email" id="email-label"> Email</label>
                <input id="email" type="email" name="email" placeholder="Provide a Valid Email" class="form-inputs"
                    required /></input>

                <label for="password" id="password-label">Password</label>
                <input id="password" type="password" name="password" placeholder="Please enter a Password"
                    class="form-inputs" required /></input>

                <p class="more-info">Please tell us a litle more about you...</p>


            </div>

        </div>

        <div class="form-footer">
            <input id="submit" type="submit" value="Continue..." class="submit-button">
            <p class="more-info"> <small>if you already have an account please</small> <a href="/login">login</a></p>
        </div>

    </form>

</div>

<script src="/js/add-user.js"></script>