<p id="description"> Fill the form to get started on your journey towards healthier eating habits!!!</p>

<form id="survey-form">

    <div class="input-headings">

        <label for="name" id="name-label"> Name</label>
        <input id="name" type="text" name="name" placeholder="What's your Name?" class="form-inputs" required /></input>
        <br>
        <label for="email" id="email-label"> Email</label>
        <input id="email" type="email" name="email" placeholder="Provide a Valid Email" class="form-inputs"
            required /></input>
        <br>
        <label for="number" id="number-label"> Age </label>
        <input id="number" type="number" name="number" placeholder="Tell us your Age" min="10" max="100"
            class="form-inputs" required /></input>


        <br>
        <label for="dropdown2" id="gender"> What's your gender? </label>
        <select id="dropdown2" class="form-inputs" required>
            <option>What's your gender?</option>
            <option value="Male"> Male</option>
            <option value="Female"> Female</option>


        </select>


        <br>
        <label for="dropdown" id="sign"> Select your Current Shape: </label>
        <select id="dropdown" class="form-inputs" required>
            <option>What's your Current Shape?</option>
            <option value="Sedentary"> Sedentary</option>
            <option value="Precontemplative"> Precontemplative</option>
            <option value="Contemplative"> Contemplative</option>
            <option value="Preparational"> Preparational</option>
            <option value="Active"> Active</option>
            <option value="Well-Maintained"> Well-Maintained</option>
        </select>
        <br>
        <br>
        <label for="textarea" id="textarea-one"> <b>Additional Comments </b> </label>
        <br>
        <textarea id="textarea" name="instructions" rows="5" cols="40"></textarea>
        <br>

        <input id="submit" type="submit" value="Submit Information" class="submit-button">

    </div>
</form>