* {
    font-family: 'Inter Tight', sans-serif;
    margin: 0px
}

body {
    background-image: url('/images/wp3104899-fresh-veggies-wallpapers.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.image {

    width: 100%;
    /* height: 78%; */
}


/*############ HEADER SECTION ############*/
.header {

    padding: 18px 20px 16px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;

}

.header h1 {
    display: inline-block;
    font-size: 22px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 10px;
    margin-right: 14px;
    float: right;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.header nav ul {
    list-style-type: none;
    color: white;
}

.header nav ul li {
    display: inline-block;
    margin-left: 18px;
    color: white;
}

li a {
    color: white;
}


/* USER REGISTRATION CONTAINER */

section {
    font-family: "Asap", sans-serif;
    width: 450px;
    height: fit-content;

}


.main-container {
    height: 100%;

}


form {
    background: rgba(191, 127, 63, 0.8);
    border-radius: 1rem;
}



.personal-form {
    width: 450px;
    margin: 3.5rem auto;
    height: fit-content;
}




#calorie-calculator {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 3rem auto;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    padding: 1.6rem;
    width: 100%;
    justify-content: space-around;
    height: fit-content;
}

.section01,
.section02 {
    justify-content: center;
    width: 400px;
    min-height: 400px;
}


.form-header {
    width: 100%;
    background-image: linear-gradient(to right, #301800, #532E09, #784B1F, #532E09, #301800);
    padding: 1rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    color: white;
}

.personal-form h1,
.form-header h1 {
    font-size: 24px;
    margin: 0px;
}

.radio-group {
    margin: 1.4rem 0rem;
    padding: 0.6rem 0rem;
    text-align: center;
    border-bottom: #784B1F solid .8px;
    border-top: #784B1F solid .8px;
}

.radio-title {
    font-size: 1.2rem;
    font-weight: bolder;
}

.form-container {
    padding: 1.6rem 2.5rem;
}

label {
    text-align: left;
    margin-bottom: 0.3rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.submit-button {
    width: 200px;
    padding: 0.6rem;
    background: rgb(199, 201, 96);
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0rem .8rem 1.8rem .8rem;
    border: #313a09 solid 3px;
    text-align: center;
}


.calculate-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-inputs {

    display: block;
    width: 90%;
    height: 2rem;
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 1.2rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 12px;
}

textarea {
    min-height: 6rem;
}

p {
    font-size: 16px;
    font-weight: bolder;
    margin: 1rem 0rem;
}

.plan-text {
    border-bottom: #784B1F solid 1px;
    padding-bottom: 0.6rem;
    margin-bottom: 1.8rem;
}

.more-info {
    margin-top: 1rem;
    border-top: #784B1F solid 1px;
    padding-top: 0.2rem;
}

h1 {
    text-align: center;

}

.form-footer {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    /* justify-content: center; */

}


table {
    width: 100%;
    text-align: center;

}

th {
    background-color: rgba(145, 90, 36, 0.2);
    font-size: 16px;
    padding: .8rem;
}

td {
    width: 30%;
    font-size: 50px;
    font-weight: bold;
    padding: .8rem .8rem 0.2rem .8rem;

}

td div {
    font-size: 20px;
    display: inline-block;
    width: 42%;
}

.up {
    background-color: rgba(206, 22, 22, 0.15);
    margin-bottom: 0.9rem;
    border: solid rgba(206, 22, 22, 0.3) 1px;

}

.dwn {
    background-color: rgba(123, 192, 59, 0.2);
    border: solid .8px rgba(63, 110, 19, 0.4);
    margin-bottom: .9rem;
}


/*############ FOOTER SECTION ############*/
.footer {

    width: 100%;
    padding: 15px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #06283D;
    color: white;

}

.footer h2 {
    font-size: 16px;
}


.no-session {
    margin: 5rem 0rem 5rem 20rem;
    padding: 3rem 5rem;
    border-radius: 12px;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to right, #667900, #778F05, #91A437, #778F05, #667900);
    border: solid gray 2px;
}