.hero {
    background-image: url('/images/PRIMERA\ PARTE\ PAGINA\ NUT.jpg');
    background-size: cover;
    background-position: center;
    padding: 450px;
}

/*############ HEADER SECTION ############*/
.header {
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;

}

.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

div {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.login-button {
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #97D2EC;
    border: none;
    font-size: 35px;
    color: #FFFFFF;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    height: 80px;
    bottom: 100px;
}

.login-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.login-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


/*############ FOOTER SECTION ############*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #06283D;
    color: white;
}

.footer h2 {
    font-size: 20px;
}