body {
    font-family: "Asap", sans-serif;
    line-height: 1.4;
    background-image: url('./images/wp3104899-fresh-veggies-wallpapers.jpg');
    background-size: cover;
    width: 500px;
    margin: auto; 
    margin-top: 15rem; 
}


form {
    background: rgba(191, 127, 63, 0.914);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 500px;
    margin: auto;
    margin-bottom: 3rem;

}


.submit-button {

    width: 100%;
    padding: 0.75rem;
    background: rgb(201, 217, 153);
    color: black;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 3rem; 

}

.input-headings {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-inputs {

    display: block;
    width: 90%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#description {
    font-weight: bold; 
    font-style:unset; 
    font-size: 18px; 
}

h1 {
    justify-content: center; 
}

