* {
    font-family: 'Inter Tight', sans-serif;
}

body {


    background-image: url('./images/wp3104899-fresh-veggies-wallpapers.jpg');
    background-size: cover;

}

.main-container {
    height: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    
    align-items: center;

}


form {
    background: rgba(191, 127, 63, 0.8);
    border-radius: 1rem;
}

#survey-form {
    width: 600px;
}


#calorie-calculator {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    padding: 2.4rem;
    width: 100%;
    justify-content: space-around;
}

.section01, .section02 {
    justify-content: center;
    width: 500px;
    min-height: 500px;
}


.form-header {
    width: 100%;
    background-image: linear-gradient(to right, #301800,#532E09, #784B1F,#532E09,#301800);
    padding: 1.8rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
}

.radio-group {
    margin: 2rem 0rem;
    padding: 0.8rem 0rem;
    text-align: center;
    border-bottom: #784B1F solid 1px;
    border-top: #784B1F solid 1px;
}

.radio-title {
    font-size: 1.5rem;
    font-weight: bolder;    
}

.form-container {
    padding: 2.4rem;
}

label {
    text-align: left;
    margin-bottom: 0.4rem;
    padding-left: .2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.submit-button {
    width: 250px;
    padding: 0.75rem;
    background: rgb(199, 201, 96);
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0rem 1rem 2.5rem 1rem;
    border: #313a09 solid 4px;
}


.form-inputs {

    display: block;
    width: 100%;
    height: 3rem;
    padding: 0.6rem;
    margin-bottom: 1.4rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

textarea {
    min-height: 8rem;
}

p {
    font-size: 22px;
    font-weight: bolder;
    margin: 1.4rem 0rem;
}

.more-info {
    border-top: #532E09 solid 1px;
    padding-top: 1rem;
}

h1 {
    text-align: center;
    /* margin-bottom: 1.6rem; */
}

.form-footer {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}
